@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

body {
  background: #506463;
  font-family: "New Tegomin", serif;
}

.App-logo {
  border-radius: 10px;
  margin: 0 auto;
  max-width: 200px;
}

.App-header {
  background: #506463;
  max-height: fit-content;
  overflow: hidden;
  width: auto !important;
}

.App-hero {
  max-width: 1508px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.App-h1 {
  color: #ffffff;
  font-family: "New Tegomin", serif;
  margin: 10px 0;
  size: 40px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media (max-width: 720px) {
  .App-logo {
    display: block;
  }
}
